@use "../variables";

#home-content {
  margin-bottom: 90px;
}

.homeHeader {
  color: map-get($map: variables.$web_colors, $key: "beige");
  padding: 30px;
  font-family: Roboto_Flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56)),
    url(./assets/images/pexels-introspectivedsgn-6654177.jpg);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  //   max-width: 1100px;
  max-width: calc(100% - 115px);
  margin: 0 auto;
  margin-bottom: 70px;
  h1,
  p {
    max-width: 670px;
  }
  h1 {
    font-size: 56px;
  }
  p {
    font-size: 18px;
  }
  .cyanBTN {
    a {
      padding: 26px 28px;
      display: block;
      height: 100%;
      text-decoration: none;
      font-size: 20px;
    }
  }
}
.comicSection {
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 28px;
}
.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  h1 {
    color: map-get($map: variables.$web_colors, $key: "orange");
    text-decoration: underline;
    font-size: 36px;
  }
  a {
    color: map-get($map: variables.$web_colors, $key: "smoke_black");
    text-decoration: none;
    font-weight: variables.$regular_Font;
    font-size: 18px;
  }
}
.comicContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: hidden;
  .comicCard {
    max-width: 185px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .comicCover {
      background-color: crimson;
      border-radius: 8px;
      height: 275px;
      width: 185px;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    p {
      font-size: 18px;
      font-weight: variables.$Bold_Font;
      max-width: 185px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
