@use "../variables";
footer {
  flex-direction: column;
  gap: 25px;
  background-color: map-get($map: variables.$web_colors, $key: "smoke_black");
  padding: 20px;
  min-height: 210px;
  a,
  p {
    color: map-get($map: variables.$web_colors, $key: "beige");
  }
  a {
    text-decoration: none;
    &:hover {
      color: map-get($map: variables.$web_colors, $key: "orange");
    }
  }
  .topLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    a {
      font-size: 20px;
      font-weight: variables.$Bold_Font;
    }
  }
  .socialLinks {
    font-size: 48px;
    color: map-get($map: variables.$web_colors, $key: "beige");
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
  }
  .footerText {
    font-size: 18px;
    font-weight: variables.$light_Font;
  }
}
