@font-face {
  font-family: Roboto_Flex;
  src: url(../../assets/fonts/RobotoFlex-VariableFont_wght.ttf);
}
@font-face {
  font-family: Inter;
  src: url(../../assets/fonts/Inter-VariableFont_wght.ttf);
}
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f5f3dc;
  color: #454445;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto_Flex;
  font-weight: 900;
}

p,
a,
label,
input {
  font-family: Inter;
  font-weight: 400;
}

p a {
  cursor: pointer;
}

a {
  color: #ff5828;
  font-weight: 700;
  transition-duration: 0.25s;
}
a:hover {
  color: rgb(255, 187.0348837209, 167.5);
}
a:active {
  color: #ffffff;
}
a img {
  transition-duration: 0.2s;
}

label,
input {
  color: #454445;
}

#app {
  max-width: 1280px;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;
}

nav,
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

button {
  transition-duration: 0.25s;
  border: none;
}
button a {
  height: 100%;
  font-weight: 700;
}

.cyanBTN {
  background-color: #009393;
  border-radius: 8px;
}
.cyanBTN:hover {
  background-color: #00585f;
}
.cyanBTN a {
  color: #f5f3dc;
}

nav {
  padding: 15px 30px;
  border-bottom: 2px solid #454445;
}
nav a {
  text-decoration: none;
  color: #454445;
  font-size: clamp(1rem, 0.3387rem + 1.2903vw, 1.5rem);
  text-transform: capitalize;
}
nav a:hover {
  color: #ff5828;
}
nav .webLogo {
  height: 48px;
}
nav .cyanBTN {
  font-size: 16px;
}
nav .cyanBTN a {
  padding: 17px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav .cyanBTN a:hover img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(34%) saturate(5275%) hue-rotate(344deg) brightness(100%) contrast(102%);
}
nav .cyanBTN img {
  filter: brightness(0) saturate(100%) invert(98%) sepia(3%) saturate(1095%) hue-rotate(4deg) brightness(101%) contrast(92%);
}

#guestLinks,
#userAccountLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#guestLinks {
  gap: 30px;
}

#userAccountLinks {
  gap: 30px;
}

.searchBar {
  height: 50px;
  max-width: 315px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.searchBar input {
  background-color: #f5f3dc;
  font-size: 16px;
  height: 100%;
  padding: 7px 10px;
  padding-right: 46px;
  border-radius: 12px;
  border: 2px solid #454445;
  transition-duration: 0.3s;
}
.searchBar input:hover, .searchBar input:focus {
  background-color: #ffffff;
}
.searchBar .searchIcon {
  height: 36px;
  width: 36px;
  position: absolute;
  right: 10px;
}
.searchBar .searchIcon img {
  height: 100%;
}

.profileGroup {
  position: relative;
  cursor: pointer;
}
.profileGroup .userProfile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profileGroup .userProfile:hover .dropDownArrow {
  filter: brightness(0) saturate(100%) invert(47%) sepia(34%) saturate(5275%) hue-rotate(344deg) brightness(100%) contrast(102%);
}
.profileGroup .userIcon img,
.profileGroup .dropDownArrow img {
  height: 100%;
  width: 100%;
}
.profileGroup .userIcon {
  width: 40px;
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
}
.profileGroup .dropDownArrow {
  transform: rotate(90deg);
  width: 32px;
  transition-duration: 0.25s;
}
.profileGroup .dropDownMenu {
  position: absolute;
  right: -24px;
  top: 65px;
}

.dropDownMenu {
  background-color: #454445;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 15px;
  border-radius: 4px;
  padding: 14px 18px;
  min-width: 152px;
}
.dropDownMenu a {
  color: #f5f3dc;
  font-size: 16px;
}
.dropDownMenu .logoutLink {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 6px;
}
.dropDownMenu .logoutLink img {
  transition-duration: 0.2s;
}
.dropDownMenu .logoutLink:hover img {
  filter: brightness(0) saturate(100%) invert(47%) sepia(34%) saturate(5275%) hue-rotate(344deg) brightness(100%) contrast(102%);
}
.dropDownMenu .logoutLink:hover a {
  color: #ff5828;
}

.hideMenu {
  display: none;
}

.showMenu {
  display: flex;
}

footer {
  flex-direction: column;
  gap: 25px;
  background-color: #454445;
  padding: 20px;
  min-height: 210px;
}
footer a,
footer p {
  color: #f5f3dc;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: #ff5828;
}
footer .topLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
}
footer .topLinks a {
  font-size: 20px;
  font-weight: 700;
}
footer .socialLinks {
  font-size: 48px;
  color: #f5f3dc;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
}
footer .footerText {
  font-size: 18px;
  font-weight: 300;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.inputBox label {
  font-size: 20px;
  font-weight: 700;
}
.inputBox input {
  font-size: 18px;
}
.inputBox input:user-valid {
  border: 2px solid #34c300;
}
.inputBox input:user-invalid {
  border: 2px solid #f80000;
}

input[type=text] {
  border: 2px solid #454445;
  border-radius: 8px;
  transition-duration: 0.2s;
  height: 48px;
  padding: 0 12px;
}

.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signinForm {
  background-color: #ffffff;
  padding: 32px 50px;
  border-radius: 16px;
  border: 2px solid #454445;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 28px;
  width: 500px;
}
.signinForm h1 {
  text-decoration: underline;
  font-size: 36px;
}
.signinForm .inputBox input {
  background-color: #f5f3dc;
}
.signinForm .cyanBTN {
  cursor: pointer;
  font-size: 24px;
  color: #f5f3dc;
  font-weight: 700;
  padding: 15px 38px;
}
.signinForm p a {
  color: #009393;
  font-weight: 400;
  text-decoration: none;
}
.signinForm p a:hover {
  color: #00585f;
}

#home-content {
  margin-bottom: 90px;
}

.homeHeader {
  color: #f5f3dc;
  padding: 30px;
  font-family: Roboto_Flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56)), url(assets/images/pexels-introspectivedsgn-6654177.jpg);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  max-width: calc(100% - 115px);
  margin: 0 auto;
  margin-bottom: 70px;
}
.homeHeader h1,
.homeHeader p {
  max-width: 670px;
}
.homeHeader h1 {
  font-size: 56px;
}
.homeHeader p {
  font-size: 18px;
}
.homeHeader .cyanBTN a {
  padding: 26px 28px;
  display: block;
  height: 100%;
  text-decoration: none;
  font-size: 20px;
}

.comicSection {
  max-width: 1050px;
  margin: 0 auto;
  margin-bottom: 28px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.sectionHeader h1 {
  color: #ff5828;
  text-decoration: underline;
  font-size: 36px;
}
.sectionHeader a {
  color: #454445;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.comicContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  overflow-x: hidden;
}
.comicContainer .comicCard {
  max-width: 185px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.comicContainer .comicCard .comicCover {
  background-color: crimson;
  border-radius: 8px;
  height: 275px;
  width: 185px;
}
.comicContainer .comicCard p {
  font-size: 18px;
  font-weight: 700;
  max-width: 185px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*# sourceMappingURL=style.css.map */
