@use "variables";
button {
  transition-duration: 0.25s;
  border: none;
  a {
    height: 100%;
    font-weight: variables.$Bold_Font;
  }
}

.cyanBTN {
  background-color: map-get($map: variables.$web_colors, $key: "cyan");
  border-radius: 8px;
  &:hover {
    background-color: map-get($map: variables.$web_colors, $key: "dark_cyan");
  }
  a {
    color: map-get($map: variables.$web_colors, $key: "beige");
  }
}
