@use "variables";
button {
  transition-duration: 0.25s;
  border: none;
  cursor: pointer;
  a {
    height: 100%;
    font-weight: variables.$Bold_Font;
  }
}

.cyanBTN,
.blackBTN {
  color: map-get($map: variables.$web_colors, $key: "beige");
  a {
    color: map-get($map: variables.$web_colors, $key: "beige");
    text-decoration: none;
  }
}

.cyanBTN {
  background-color: map-get($map: variables.$web_colors, $key: "cyan");
  border-radius: 8px;
  &:hover {
    background-color: map-get($map: variables.$web_colors, $key: "dark_cyan");
  }
}
.blackBTN {
  background-color: map-get($map: variables.$web_colors, $key: "smoke_black");
  &:hover {
    background-color: #949494;
  }
}
.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
