@use "variables";

.inputBox,
.descriptionBox {
  display: flex;
  flex-direction: column;
}
.inputBox {
  gap: 16px;
  width: 100%;
  label {
    font-size: 20px;
    font-weight: variables.$Bold_Font;
  }
  input {
    font-size: 18px;
    &:user-valid {
      border: 2px solid #34c300;
    }
    &:user-invalid {
      border: 2px solid #f80000;
    }
  }
  select {
    font-size: 20px;
  }
}
.inputWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.descriptionBox {
  gap: 12px;
}

input,
textarea,
select {
  border: 2px solid map-get($map: variables.$web_colors, $key: "smoke_black");
  border-radius: 8px;
  transition-duration: 0.2s;
}
input {
  height: 48px;
  padding: 0 12px;
}
select {
  padding: 12px;
}

.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signinForm {
  background-color: #ffffff;
  padding: 32px 50px;
  border-radius: 16px;
  border: 2px solid map-get($map: variables.$web_colors, $key: "smoke_black");
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 28px;
  width: 500px;
  h1 {
    text-decoration: underline;
    font-size: 36px;
  }
  .inputBox {
    input {
      background-color: map-get($map: variables.$web-colors, $key: "beige");
    }
  }
  .cyanBTN {
    cursor: pointer;
    font-size: 24px;
    color: map-get($map: variables.$web_colors, $key: "beige");
    font-weight: variables.$Bold_Font;
    padding: 15px 38px;
  }
  p a {
    color: map-get($map: variables.$web_colors, $key: "cyan");
    font-weight: variables.$regular_Font;
    text-decoration: none;
    &:hover {
      color: map-get($map: variables.$web_colors, $key: "dark_cyan");
    }
  }
}

.createForm {
  width: 61.25dvw; // 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  h1 {
    color: map-get($map: variables.$web_colors, $key: "orange");
    text-decoration: underline;
    font-size: 36px;
    text-underline-offset: 4px;
  }
  h2,
  label,
  input,
  select {
    font-family: Inter;
  }
  h2 {
    font-weight: variables.$Bold_Font;
  }
  label {
    font-weight: variables.$medium_Font;
    font-size: 20px;
  }
  .bookInfoBox {
    background-color: #ffffff;
    border-radius: 8px;
    border: 2px solid map-get($map: variables.$web_colors, $key: "smoke_black");
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 25px;
  }
  input,
  textarea,
  select {
    background-color: map-get($map: variables.$web_colors, $key: "beige");
    &::placeholder {
      color: map-get($map: variables.$web_colors, $key: "smoke_black");
    }
  }
  .inputBox {
    gap: 10px;
  }
  .inputWrap {
    gap: 50px;
    input {
      width: 100%;
    }
  }
  .descriptionBox {
    input,
    textarea {
      font-size: 18px;
      padding: 15px;
      //   min-height: 108px;
    }
  }
  .buttonWrap {
    gap: 54px;
  }
  .cyanBTN,
  .blackBTN {
    border-radius: 12px;
    font-family: Inter;
    font-weight: variables.$Black_Font;
    font-size: 24px;
    a {
      font-family: Inter;
      font-weight: variables.$Black_Font;
      font-size: 24px;
    }
  }
  .cyanBTN {
    padding: 18px;
  }
  .blackBTN {
    a {
      padding: 18px;
      display: block;
    }
  }
}

.bookCoverRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.uploadImage,
.imagePreview {
  border-radius: 8px;
  padding: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 32px;
  cursor: pointer;
  .imgIcon {
    height: 72px;
    img {
      height: 100%;
    }
  }
}
.uploadImage {
  border: 3px dotted map-get($map: variables.$web_colors, $key: "smoke_black");
  h2 {
    color: map-get($map: variables.$web_colors, $key: "cyan");
  }
}
.imagePreview {
  border: 3px solid map-get($map: variables.$web_colors, $key: "smoke_black");
  h2 {
    font-style: italic;
  }
}

.enterComicName {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  label {
    font-size: 24px;
    font-weight: variables.$Bold_Font;
  }
  input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid
      map-get($map: variables.$web_colors, $key: "smoke_black");
    font-size: 20px;
    padding: 15px;
    width: 100%;
  }
}
