@use "variables";

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  label {
    font-size: 20px;
    font-weight: variables.$Bold_Font;
  }
  input {
    font-size: 18px;
    &:user-valid {
      border: 2px solid #34c300;
    }
    &:user-invalid {
      border: 2px solid #f80000;
    }
  }
}

input[type="text"] {
  border: 2px solid map-get($map: variables.$web_colors, $key: "smoke_black");
  border-radius: 8px;
  transition-duration: 0.2s;
  height: 48px;
  padding: 0 12px;
}

.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signinForm {
  background-color: #ffffff;
  padding: 32px 50px;
  border-radius: 16px;
  border: 2px solid map-get($map: variables.$web_colors, $key: "smoke_black");
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 28px;
  width: 500px;
  h1 {
    text-decoration: underline;
    font-size: 36px;
  }
  .inputBox {
    input {
      background-color: map-get($map: variables.$web-colors, $key: "beige");
    }
  }
  .cyanBTN {
    cursor: pointer;
    font-size: 24px;
    color: map-get($map: variables.$web_colors, $key: "beige");
    font-weight: variables.$Bold_Font;
    padding: 15px 38px;
  }
  p a {
    color: map-get($map: variables.$web_colors, $key: "cyan");
    font-weight: variables.$regular_Font;
    text-decoration: none;
    &:hover {
      color: map-get($map: variables.$web_colors, $key: "dark_cyan");
    }
  }
}
