@use "variables";
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: map-get($map: variables.$web_colors, $key: "beige");
  color: map-get($map: variables.$web_colors, $key: "smoke_black");
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: Roboto_Flex;
  font-weight: variables.$Black_Font;
}

p,
a,
label,
input,
textarea,
select {
  font-family: Inter;
  font-weight: variables.$regular_Font;
}
p a {
  cursor: pointer;
}
a {
  color: map-get($map: variables.$web_colors, $key: "orange");
  font-weight: variables.$Bold_Font;
  transition-duration: 0.25s;
  &:hover {
    color: lighten($color: variables.$orange, $amount: 25%);
  }
  &:active {
    color: #ffffff;
  }
  img {
    transition-duration: 0.2s;
  }
}
label,
input {
  color: map-get($map: variables.$web_colors, $key: "smoke_black");
}

#app {
  //   max-width: 1280px;
  max-width: variables.$tv-width;
  //   min-height: 100dvh;
  min-height: 100%;
  margin: 0 auto;
  padding: 2rem;
  // background-color: cornflowerblue;
}

nav,
footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.centerContent {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successModal {
  background-color: rgba($color: #000000, $alpha: 0.75);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.successBox {
  color: #34c300;
  font-weight: variables.$Bold_Font;
  background-color: #dbffce;
  border-radius: 16px;
  padding: 44px;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  .checkMark {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 32px;
    width: 32px;
    border-radius: 100%;
    background-color: #34c300;
    padding: 3px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.hide {
  display: none;
}
