@use "../variables";
nav {
  padding: 15px 30px;
  border-bottom: 2px solid
    map-get($map: variables.$web_colors, $key: "smoke_black");
  a {
    text-decoration: none;
    color: map-get($map: variables.$web_colors, $key: "smoke_black");
    // Clamp : 16-24 px
    // font-size: 24px;
    font-size: clamp(1rem, 0.3387rem + 1.2903vw, 1.5rem);
    text-transform: capitalize;
    &:hover {
      color: map-get($map: variables.$web_colors, $key: "orange");
    }
  }
  .webLogo {
    height: 48px;
  }
  .cyanBTN {
    font-size: 16px;
    a {
      padding: 17px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      &:hover {
        img {
          filter: variables.$orange-filter;
        }
      }
    }
    img {
      filter: variables.$beige-filter;
    }
  }
}

#guestLinks,
#userAccountLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#guestLinks {
  gap: 30px;
}
#userAccountLinks {
  gap: 30px;
}

.searchBar {
  height: 50px;
  max-width: 315px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  input {
    background-color: map-get($map: variables.$web_colors, $key: "beige");
    font-size: 16px;
    height: 100%;
    padding: 7px 10px;
    padding-right: 46px;
    border-radius: 12px;
    border: 2px solid map-get($map: variables.$web_colors, $key: "smoke_black");
    transition-duration: 0.3s;
    &:hover,
    &:focus {
      background-color: #ffffff;
    }
  }
  .searchIcon {
    height: 36px;
    width: 36px;
    position: absolute;
    right: 10px;
    img {
      height: 100%;
    }
  }
}
.profileGroup {
  position: relative;
  cursor: pointer;
  .userProfile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:hover {
      .dropDownArrow {
        filter: variables.$orange-filter;
      }
    }
  }
  .userIcon,
  .dropDownArrow {
    img {
      height: 100%;
      width: 100%;
    }
  }
  .userIcon {
    width: 40px;
    background-color: #ffffff;
    border-radius: 100px;
    display: flex;
  }
  .dropDownArrow {
    transform: rotate(90deg);
    width: 32px;
    transition-duration: 0.25s;
  }
  .dropDownMenu {
    position: absolute;
    right: -24px;
    top: 65px;
  }
}

.dropDownMenu {
  background-color: map-get($map: variables.$web_colors, $key: "smoke_black");
  // display: flex; // Menu starts as closed
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 15px;
  border-radius: 4px;
  padding: 14px 18px;
  min-width: 152px;
  a {
    color: map-get($map: variables.$web_colors, $key: "beige");
    font-size: 16px;
  }
  .logoutLink {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 6px;
    img {
      transition-duration: 0.2s;
    }
    &:hover {
      img {
        filter: variables.$orange-filter;
      }
      a {
        color: map-get($map: variables.$web_colors, $key: "orange");
      }
    }
  }
}

.hideMenu {
  display: none;
}
.showMenu {
  display: flex;
}
